<%= form_for @site do |f| -%>
	<div class="field">
    <%= f.label :homepage %><br />
		<%= f.select :homepage_id, options_from_collection_for_select(Page.all, :id, :slug, @site.homepage_id) %>
	</div>
	<div class="button confirm_button">
    <%= f.submit %>
  </div>
  
<% end -%>