<div class="row" id="row0">
	<div class="span8 column" id="column0">
		<% Article.by_category_group_and_month(@page.category, @group, params[:month]).each do |article| %>
			<%= render :partial => 'articles/article', :locals => {:article => article, :snippet_size => 300} %>
		<% end %>
	</div>
	<div class="span4 column" id="column1">
		<%= render 'articles/articles_archive', :category => @page.category, :group => @group %>
	</div>
</div>
