<div class="row">
	
	<% page_columns(@page).each_with_index do |column, index| %>
	
	  <div class="span<%= column %>">
			<% @page.widgets.by_column((index + 1).to_s).order_by_position.each_with_index do |widget, index| %>

				<%= render "cms/widgets/show/#{widget.widget_type}", :widget => widget, :column => column %>

			<% end %>	
	  </div>
	<% end %>
</div>