<div class="row">
	<div class="span8">
		<% Article.by_category_group_and_month(category, group, params[:month]).each do |article| %>
			<%= render :partial => 'articles/article', :locals => {:article => article, :snippet_size => 300} %>
		<% end %>
	</div>
	<div class="span4">
		<% Article.months_with_articles(category, group).each do |month| %>
				<div class="article_archive_item">
					<div class="article_archive_link">
						<%= link_to month.strftime('%B %Y'), group_category_articles_path(group, category, :month => month.strftime('%m-%Y')) %>
					</div>
				</div>
			<% end %>
	</div>
</div>