/*****************************
Layout
*****************************/


body#admin {
	background-color: #eee;
	
	.bodycontent {
		background:red;
	}
	
	#wrapper {
		padding-top: 20px;
		background-color: #fff;
		width: 1000px;
		margin: auto;
	}

	#user_status {
		float: right;
	}

	#top_nav {
		margin: 10px 0;
		height: 20px;
		background: #333;
		padding: 10px;
	}

	#group_nav {
		margin: 10px 0;
		height: 20px;
		background: #3399CC;
		padding: 10px;
	}

	#top_nav a, #group_nav a {
		display: block;
		float: left;
		margin-right: 20px;
		color: #fff;
	}

	.new_instance_link {
		margin-top: 20px;
		float: right;
	}
	
	/*****************************
	Index
	*****************************/

	.index_item {
		margin-bottom: 10px;
		position: relative;
	}

	.controls {
		float: right;
	}

	.controls a {
		float: right;
		margin-left: 20px;
	}

	/*****************************
	Forms
	*****************************/

	input[type=text], input[type=password] {
		width: 300px;
		padding: 5px;
	}

	.field {
		margin-bottom: 20px;
	}

	.field .fields {
		margin-bottom: 20px;
	}

	.form_field_name, .form_field_field_type {
		float: left;
		margin-right: 20px;
	}

	/****************************************************
	Photos
	*****************************************************/

	.photos_index_image {
		float: left;
		margin-right: 30px;
		width: 100px;
	}

	.photos_index_image img {
		height: 60px;
	}

	.photo_index_item {
		height: 60px;
	}

	/****************************************************
	Flash
	*****************************************************/

	#flash {
	  margin-bottom: 20px;
	}

	ul#flash_list {
	  padding-left: 0px;
	  list-style-type: none;
	}

	.flash_item {
	  padding: 10px;
	  color: #fff;
	}

	.flash_item.notice {
		background: #3399CC;
		background: -webkit-gradient(linear, left top, left bottom, from(#85CBF9), to(#3399CC));
		background: -moz-linear-gradient(top,  #85CBF9,  #3399CC);
		color: #fff;
	}

	.flash_item.error {
	  background-color: #CC0000;
	  background: -webkit-linear-gradient(top, #FD8C8C, #CC0000);
	  background: -moz-linear-gradient(top, #FD8C8C, #CC0000);
	}

	/****************************************************
	Edit Page Widgets
	*****************************************************/
	
	textarea {
		width: 100%;
	}

	.edit_widget {
		background: #eee;
		padding: 20px;
		margin: 10px 0;
	}

	.modal {
		left: 40%;
		width: 800px;
	}

	.modal-body textarea {
		width: 735px !important;
		height: 200px;
		padding: 15px;
	}

	.connectedSortable {
		min-height: 200px;
	}

	#sortable1 {
	}

	#sortable2 {
	}

	.sortable_widget {
		cursor: move;
	}
	
	/****************************************************
	Profile Page
	*****************************************************/
	
	.profile_widget_content textarea {
		width: 100%;
		height: 200px;
	}
		
	#edit_content_page {

		.region {
			background: #ccc;
			position: relative;

			.panel {
				background: #eee;
				margin-bottom: 15px;
				
				.sub_panel {
					background: #fff;
					margin-bottom: 15px;					
				}
			}

			.add_panel_button {
				position: absolute;
				bottom: 5px;
			}
		}
	}

	
	
	/****************************************************
	Textareas
	*****************************************************/

	#articles_edit_content textarea {
		width: 100%;
	}
	
	/****************************************************
	Rows and Columns
	*****************************************************/

	.page_row {
		min-height: 150px;
		width: 100%;
		margin-bottom: 20px;
		background: #eee;
		clear: both;
	}
	
	.page_column {
		min-height: 100px;
	}
	
	
	
}

