<div class="profile_page_edit container">
	<!-- <table>
		<tr id="row1">
			<td id="row1_column1">Region 1</td>
			<td id="row1_column1">Region 2</td>			
		</tr>
		<tr id="row2">
			<td id="row2_column1">Region 3</td>			
		</tr>
	</table> -->
	
	
	
	<div id="row1" class="row">
		
		<div id="left_region" class="span7 region">
			<div class="row">
				<div id="panel1" class="span3">
					<div class="test_div">
						<h1>Left Panel Left</h1>
					</div>
					<div class="test_div">
					</div>
					<div class="test_div">
					</div>
					<div class="test_div">
					</div>
				</div>
				<div id="panel2" class="span4">
					<div class="test_div">
						<h1>Left Panel Right</h1>
					</div>
					<div class="test_div">
					</div>
					<div class="test_div">
					</div>
				</div>
			</div>
		</div>
		<div id="right_region" class="span5 region">
			<div class="row">
				<div id="panel3" class="span5">
					<h1>Right Panel</h1>
					<div class="test_div">
					</div>
					<div class="test_div">
					</div>
					<div class="test_div">
					</div>
					<div class="test_div">
					</div>			
				</div>
			</div>
		</div>
		
	</div>
	
	<div id="row2" class="row">
		<div id="bottom_region" class="span12 region">
			<div class="row">
				<div id="panel4" class="span4">				
					<div class="test_div">
					</div>
				</div>
				<div id="panel5" class="span4">
					<div class="test_div">
					</div>					
					<div class="test_div">
					</div>
				</div>
				<div id="panel6" class="span4">
					<div class="test_div">
					</div>
					<div class="test_div">
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>