<div id="edit_panels" class="container">
	Sidebar
	<% (1..@page.max_rows).each do |row| %>
		<div id="row<%= row %>" class="row">
			
			<% @page.regions.by_row(row).each do |region| %>
			
				<div id="<%= region.slug %>" class="span<%= region.span %> region">
					<div class="row">
				
						<% region.panels.each_with_index do |panel, index| %>
				
							<%= render 'cms/pages/edit/panel', :panel => "#{region.slug}_panel#{index + 1}", :column => panel %>
				
						<% end %>
				
					</div>
				</div>
				
			<% end %>
					
		</div>
	<% end %>
</div>