<div class='new_instance_link'>
  <%= link_to 'New page', new_page_path %>
</div>

<h1>Pages</h1>
<div>
	<% @pages.each do |page| %>
    <div class="index_item">
			<div class="controls">
				<%= link_to 'Delete', page_path(page), :method => :delete, :confirm => 'Are you sure?' %>							
				<%= link_to 'View', host_page_path(page) %>
			</div>
			<%= link_to "#{page.name} (#{page.page_type.titleize})", edit_page_path(page) %>
		</div>
	<% end %>
</div>